body{
    background-color: rgb(236, 235, 235);
}
.bg-white-smoke{
    background-color:rgb(252, 249, 246);
}
.s-box{
    position: relative;
    width: 80%;
}
.s-icon{
    position: absolute;
    left: 12px;
    top: 15px;
}
input[type='search']{
    padding-left: 32px;
    font-size: small;
    height: 30px;
    width: 100%;
    margin-top: 6px;
    border: none;
    background-color: rgb(188, 192, 201);
    border-radius: 4px;
}
.cust-nav-1{
    display: flex;
}
.cust-nav-2{
    display: flex;
}
.below-nav{
    width: 70%;
}